<section id="about">
    <div class="container">
        <br>
        <br>
        <h2><strong>About</strong></h2>
        <br>
        <br>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right" >

                <picture>
                    <img src="assets/images/Profile.jpg" alt="profilepic" class="img-fluid">
                </picture>
               <div class="d-flex justify-content-center">
                    <a  class="btn-social-media" href="https://www.linkedin.com/in/kasper-ruys-b0174a137/" rel="tooltip" target="_blank">
                        <img src="assets/images/linkedin.png" class="img-fluid">
                        <i class="fa-solid fa-user"></i>
                    </a>
                    <a  class="btn-social-media" href="https://github.com/DeKasperRuys" rel="tooltip" target="_blank">
                        <img src="assets/images/github.png" class="img-fluid">
                        <i class="fa-solid fa-user"></i>
                    </a>
                </div>
               
              
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>Kasper Ruys</h3>
                <p class="font-italic">
                    Interested in new technologies such as VR and AR. I like to create applications that are fun or can be helpful.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="mapMarker"></fa-icon><strong>Belgium, Antwerpen</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:kasper_ruys@hotmail.com">
                                        kasper_ruys@hotmail.com</a></strong>
                            </li>
                       
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="birthday"></fa-icon><strong>25 years</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong>Bachelor Elektronica-ICT</strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    Looking for a company to start growing my experience in the IT sector. 
                </p>
            </div>
        </div>
    </div>
</section>